@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
:root{
    --orange:#f89b0a;
    --hover:#FFDD95;
    --bg-color:#5bccfc;
    --bg-2-color: #ec7c2c;
    --text-color:#FFFFFF;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: var(--font);
    color: var(--text-color);
    background: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.logo{
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}


.logo img{
    width: 15rem;
    height: auto;    
}

header{
    background: linear-gradient(var(--bg-color), var(--orange));
    display: flex;   
    height: 25rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box{
    margin-top: 3rem;
}

/* Carrosel */
.slider{
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100%;
    border: 20px double var(--bg-2-color);
    outline: 5px double var(--bg-2-color);
    outline-offset: 5px;
}

.slides{
    width: 300%;
    height: 300px;
    display: flex;    
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    position:relative;
}

.slide img{
    width: 300px; 
}

.manual-navigation{
    position:absolute;
    width:300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.manual-btn{
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--text-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.3%;
}

#radio3:checked ~ .first{
    margin-left: -100%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

.navigation-auto div{
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position:absolute;
    width: 300px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFFFFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFFFFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:var(--text-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--text-color);
}

/* Fim Carrosel */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;    
}

.social{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social a{
    padding: 0.5rem;
    color:var(--text-color);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--bg-2-color);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #857979;
}

.social a:hover{
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #857979;
}

#content-about{
margin: 3rem 10rem;
padding: 0 2rem;
font-size: 20px;
border-radius: 2rem;
color: var(--text-color);
text-shadow: 2px 2px 2px #111;
border-bottom: 20px double var(--text-color);
border-left: 20px double var(--text-color);
outline: 5px double var(--text-color);
outline-offset: 5px;
background-color: #B0A695;
}

#content-about p{
    text-align: center;
}

#content-about span{
    color: var(--hover);
    font-size: 1.5rem;
    text-transform: uppercase;  
    
}

.barra-vertical{
    width: 5px;
    height: 250px;
    background-color:var(--text-color);
    text-align: center;
    box-shadow: 3px 6px 5px 0px rgba(161,161,161,1);
}

.barra-horizontal{
    width: 200px;
    height: 5px;
    background-color: var(--text-color);
    text-align: center;
    box-shadow: 3px 6px 5px 0px rgba(161,161,161,1);
}

.subject{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

.motivos{
    width: 220px;
    height:200px ;
    font-size: 20px;
    border-radius: 2rem;
    color: var(--text-color);
    text-shadow: 2px 2px 2px #111;
    border-bottom: 20px double var(--text-color);
    border-left: 20px double var(--text-color);
    outline: 5px double var(--text-color);
    outline-offset: 5px;    
    padding: 3rem;
    font-size: 20px;
    text-align: center;
    margin-right: 3rem;
    background-color: #B0A695;
}

.motivos p{
    margin-top: 1rem;
}

.curiosidade{
    font-style: italic;
    width: 250px;
    height:300px;    
    padding: 0 2rem;
    padding-bottom: 3rem;
    font-size: 20px;
    text-align: center;   
    font-size: 20px;
    border-radius: 2rem;
    color: var(--text-color);
    text-shadow: 2px 2px 2px #111;
    border-bottom: 20px double var(--text-color);
    border-left: 20px double var(--text-color);
    outline: 5px double var(--text-color);
    outline-offset: 5px;
    margin-left: 3rem;
    background-color:#B0A695;}

.curiosidade p{
    margin-top: 1rem;
}
 
.animation {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;  
    animation-name: appear;
    animation-range: entry 10% contain 25%;
}

@keyframes appear{
    from{
      opacity: 0;
      transform: scaleX(0);
    }  
    to {
      opacity: 1;
      transform: scaleX(1);
    }
}


@media(max-width: 768px) {
    #content-about{
        margin: 3rem;
    }
    .subject{
        flex-direction: column;
        margin: 3rem;
        align-items: center;
        justify-content: center;
    }
    .barra-vertical{
        height: 100px;        
    }    
    .barra-horizontal{
        width: 5px;
        height: 100px;
        margin: 3rem 0;;
    }
    .motivos,
    .curiosidade{
        margin: 0;
    }
}
   
@media(max-width: 390px) {
    .logo{
        height: 8rem;
    }
    header{
        flex-direction: column;
    }
    .social{
        flex-direction: row;
    }
    .curiosidade,
    .motivos{
        margin: 0;
        align-items: center;
        padding: 1rem;
    }
    .motivos{
        height: 10rem;
    }
    .curiosidade{
        height: 14rem;

    }
    p{
        font-size: 1rem;
    }
    
}